<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Leaders Commented Posts
  </div>

  <ul class="list-group list-group-flush">
    <% @user.leaders_commented_posts.each do |post| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/posts/<%= post.id %>">
          <%= post %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
